


h2{
    text-align: center;
    border: 2px solid black;
    background-color: cyan;


}

.test1 {
    text-align: center;
    background-image: url("/home/remy/cv/images/bleu.jpg");
    height:250px;
    


}
p{
    text-align: center;
    font-size:20px;


}




.test3 ul{

    font-size:20px;
    box-shadow: 2px 2px 2px black;

}





.identité{
    background-image: url("/home/remy/cv/images/bleu.jpg");
    color:white;
    height:250px;
}
.exp{

    font-size:20px;
    color:red;
}
#progressions{
    margin-right: 10px;
    margin-top: 5px;
    text-align: center;
    background-image: url("/home/remy/cv/images/fond.jpeg");
    animation-duration: 6s;
    animation-name: slideout;
}
.progress{
    display: inline-block;
    width: 300px;
    height: 20px;
    padding: 3px 3px 2px 3px;
    background: orange;
    border: 1px solid black;
    border-radius: 20%;
    box-shadow: 2px 2px 2px black;
    
}
.para{
    margin-left:10px;
    margin-top: 5px;
    text-align: center;
    background-image: url("/home/remy/cv/images/fond.jpeg");
    animation-duration: 5s;
    animation-name: slideout;
}
h3{
    text-align: center;
    text-decoration: underline;
}


.formation{
    color:red;
}



@keyframes slideout {
    from {
        margin-left: 100%;
        width: 300%
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}
.fondhi{
    background-image: url("/home/remy/cv/images/code3.jpeg");
}


.exp{
    background-image: url("/home/remy/cv/images/dark.jpeg");
}
        
