body{
  background-color: grey;
}
.page{
  width: 780px;
  margin: auto;
  font-family: "Calibri", Tahoma, sans-serif;
  font-size: 16px;
  border : 5px solid #3388CC;
  border-radius: 10px;
  box-shadow: 10px 10px 10px black;
  padding: 20px;
  background-image:url("/home/remy/cv/lol1.jpg");
  background-attachment: fixed;
}
.infophoto{
  height: 200px;
  border: 2px solid black;
  padding: 10px;
}
.info{
  float:left;
}
.photo{
  float:right;
}
.section{
  margin-bottom:40px;
  text-align:justify;
}
.sec-gauche{
  float:left;
  font-weight: bold;
  font-size: 20px;
}
.sec-droite{
  margin-left:150px;
  margin-top: 40px;
}
h2{
  font-size: 25px;
  color:#3388BB;
  border-bottom: 3px solid #3388DD;
  font-family: "Regular";
  box-shadow: 5px 5px 5px red;
  border: 2px solid black;
}
.titre{
  font-weight: bold;
  font-size: 15px;
}
#format-gauche p{
  margin-bottom: 30px;

}
@font-face{
  font-family:'Regular';
  src: url('style.otf');
}
